# Disable caching completly for the moment
<IfModule mod_headers.c>
    <FilesMatch "\.(ico|jpg|jpeg|png|gif|css|js|woff|woff2|ttf|eot)$">
        Header set Cache-Control "max-age=31536000"
    </FilesMatch>
    <FilesMatch "\.(html)$">
        Header set Cache-Control "no-cache, no-store, must-revalidate"
        Header set Pragma "no-cache"
        Header set Expires 0
    </FilesMatch>
</IfModule>
