

:root {
    --f7-theme-color: #00A0AF;
    --f7-theme-color-shade: #00626B;
    --f7-theme-color-tint: #00BACB;
    --f7-theme-color-rgb: 0, 160, 175;
    --f7-navbar-bg-color: var(--f7-theme-color);
    --f7-navbar-link-color: white;
    --f7-navbar-text-color: white;
}

.content-card .card-header {
    height: 35vw;
    background-size: cover;
    background-position: center;
    color:white;
}

.content-card .link {
    color: white;
    background-color: #00A0AFAA;
    justify-content: left;
    padding: 5px 15px;
    width: 100%;
}

.card-one .card-header {
    background-image: url(/images/scouting/Grund_1.jpg);
}

.card-two .card-header {
    background-image: url(/images/scouting/Grund_2.jpg);
}

.card-three .card-header {
    background-image: url(/images/scouting/Grund_3.jpg);
}

.card-four .card-header {
    background-image: url(/images/scouting/Grund_4.jpg);
}

.card-five .card-header {
    background-image: url(/images/scouting/Grund_5.jpg);
}

.card-six .card-header {
    background-image: url(/images/scouting/Grund_6.jpg);
}

.card-seven .card-header {
    background-image: url(/images/scouting/Grund_7.jpg);
}